.weather-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-main__temp {
    font-size: 8rem;
}

.weather-main__forecast {
    font-size: 1.5rem;
    padding: 1rem 0;
}
.weather-main__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.weather-main__details {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0; 
    align-items: center;
    justify-content: center;
}
.weather-main__day{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.weather-main__break{
    width: 100%;
    height: 0.01rem;
    margin: 0.5rem 0;
    background-color: rgb(255, 255, 255);
}