.daily-weather-main{
    width: 100%;
}

.daily-weather-list{
    display: flex;
    justify-content: flex-start;
   /* background-color: rgba(253, 253, 253, 0.11); */
    margin: 0.2rem 0;
    padding: 0.2rem 0;
    border-radius: 5px;
}

.daily-weather-list__day{
    width: 70%;
    padding-left: 0.2rem;
}

.daily-weather-list__weather{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 0.2rem;
}
.daily-weather-list__temp{
    display: flex;
}
.daily-weather-list__temp_high{
    padding: 0 0.2rem;
}
.daily-weather-list__temp_low{
    color: rgba(255, 255, 255, 0.507);
    min-width: 2rem;
    text-align: right;
}